<h1>Welcome, <%=@user.username%></h1>
<a href="/tweets/new">Create New Tweet</a>
<a href="/users/<%=@user.slug%>">View Your Tweets</a>
<h2>All Tweets</h2>
<%@tweets.each do |tweet|%>
     <h4><%=tweet.user.username%></h4> <p><%=tweet.content%></p>
     <a href="/tweets/<%=tweet.id%>">View Tweet</a>
<%end%>
<br>
<a href="/logout">Logout</a>
